html, body, #root, .App {
  height: 100%;
}

#root{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
h4 {
  margin-left: -50px
}
.wrapper {
  width: 150px;
  background-color: yellow;
  padding: 10px;
}

button {
  background-color: orange;
  border: 1px solid orange;
  border-radius: 3px ;
}


input {
  margin-right: 10px ;
  margin-top: 10px;
}

